
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.todo-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
a{
  text-decoration: none;
   color: #000;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  width: 70%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  width: 75%;
  padding: 8px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

.task, li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  justify-content: space-between;
  width: 100%;
}


.task_completed, li.completed {
  text-decoration: line-through;
  color: #888;
}

li button {
  background-color: #dc3545;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
}

li button:hover {
  background-color: #c82333;
}
